body{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: Gill;
	src:url('../font-family/GILB.TTF');
}
#gallery{

}
#gallery .container{

}
#gallery .container .text-center{
	margin-top: 50px;
	font-family: Gill;
}
#gallery .container .text-center .care{
	font-size: 1.5em;
}
#gallery .container .text-center .most{
	font-size: 2.0em;
}
#gallery .container .flex-parent{
	
}
#gallery .container .flex-parent .flex1{

}
#gallery .container .flex-parent .flex1 .flex2{
	margin: 50px 30px 0 30px;
}
#gallery .container .flex-parent .flex1 .flex2 img{
	width: 100%;
}
#gallery .container .flex-parent .flex1 .flex2 .con{
	background-color: black;
	height: 120px;
}
#gallery .container .flex-parent .flex1 .flex2 .con .con1{
	color: white;
	font-weight: bolder;
	font-size: 1.2em;
	padding: 10px 15px;
}
#gallery .container .flex-parent .flex1 .flex2	.con .view{
	background-color: #eaaf40;
	color: black;
	width: 120px;
	height:30px;
	margin-left: 220px;
	padding: 5px 10px;
	margin-top: -50px;
	font-weight: bold;
}
#gallery .container .flex-parent .flex1 .flex2	.con .view .tri{
	width: 0;
	height: 0;
	margin-top: -5px;
	margin-left:90px;
	border-bottom: 25px solid transparent;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #bd7b00;
}
.slick-center { 
  transform: scale(1.08);
}
.slide:not(.slick-active) { 
  cursor: pointer; 
}
#gallery .container .flex-parent .slick-center .flex2 .con{
	background-color:#eaaf40;
	color: black;
	height: 130px;
	padding-top: 8px;
}
#gallery .container .flex-parent .slick-center .flex2 .con .view{
	background-color:black;
	color: #eaaf40;
	width: 130px;
	height:40px;
	margin-left: 210px;
	padding: 10px 15px;
	margin-top: -50px;
	font-weight: bolder;
}
#gallery .container .flex-parent .slick-center .flex2	.con .view .tri{
	width: 0;
	height: 0;
	margin-top: 5px;
	margin-left:95px;
	border-bottom: 25px solid transparent;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #5a3b00;
}
#gallery .container .flex-parent .slick-center .flex2 .con .con1{
	color: black;
	font-weight: bolder;
	font-size: 1.2em;
}
@media screen and (max-width: 1199px){
	#gallery .container .flex-parent .flex1 .flex2 .con{
		background-color: black;
		height: 100px;
	}
	#gallery .container .flex-parent .flex1 .flex2 .con .con1{
		color: white;
		font-weight: bolder;
		font-size: 1.0em;
		padding: 10px 10px;
	}
	#gallery .container .flex-parent .flex1 .flex2	.con .view{
		background-color: #eaaf40;
		color: black;
		font-size: 0.9em;
		width: 100px;
		height:25px;
		margin-left: 170px;
		padding: 5px 5px;
		margin-top: -50px;
		font-weight: bold;
	}
	#gallery .container .flex-parent .flex1 .flex2	.con .view .tri{
		width: 0;
		height: 0;
		margin-top: -7px;
		margin-left:79px;
		border-bottom: 25px solid transparent;
		border-left: 0px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid #bd7b00;
	}
	.slick-center { 
	  transform: scale(1.08);
	}
	.slide:not(.slick-active) { 
	  cursor: pointer; 
	}
	#gallery .container .flex-parent .slick-center .flex2 .con{
		background-color:#eaaf40;
		font-size: 0.7em;
		font-weight: bolder;
		color: black;
		height: 100px;
		padding-top: 8px;
	}
	#gallery .container .flex-parent .slick-center .flex2 .con .view{
		background-color:black;
		font-size: 1.1em;
		color: #eaaf40;
		width: 100px;
		height:30px;
		margin-left: 170px;
		padding: 7px 6px;
		margin-top: -40px;
		font-weight: bolder;
	}
	#gallery .container .flex-parent .slick-center .flex2	.con .view .tri{
		width: 0;
		height: 0;
		margin-top: -2px;
		margin-left:78px;
		border-bottom: 25px solid transparent;
		border-left: 0px solid transparent;
		border-right: 16px solid transparent;
		border-top: 15px solid #5a3b00;
	}
	#gallery .container .flex-parent .slick-center .flex2 .con .con1{
		color: black;
		font-weight: bolder;
		font-size: 1.2em;
	}
}
@media screen and (max-width: 991px){
	#gallery .container .flex-parent .flex1 .flex2 .con{
		background-color: black;
		height: 80px;
	}
	#gallery .container .flex-parent .flex1 .flex2 .con .con1{
		color: white;
		font-weight: bolder;
		font-size: 0.8em;
		padding: 10px 10px;
	}
	#gallery .container .flex-parent .flex1 .flex2	.con .view{
		background-color: #eaaf40;
		color: black;
		font-size: 0.7em;
		width: 80px;
		height:25px;
		margin-left: 115px;
		padding: 5px 5px;
		margin-top: -60px;
		font-weight: bold;
		position: absolute;
	}
	#gallery .container .flex-parent .flex1 .flex2	.con .view .tri{
		width: 0;
		height: 0;
		margin-top: -3px;
		margin-left:60px;
		border-bottom: 25px solid transparent;
		border-left: 0px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid #bd7b00;
		position: absolute;
	}
	.slick-center { 
	  transform: scale(1.08);
	}
	.slide:not(.slick-active) { 
	  cursor: pointer; 
	}
	#gallery .container .flex-parent .slick-center .flex2 .con{
		background-color:#eaaf40;
		font-size: 0.6em;
		font-weight: bolder;
		color: black;
		height: 100px;
		padding-top: 5px;
	}
	#gallery .container .flex-parent .slick-center .flex2 .con .view{
		background-color:black;
		font-size: 1.0em;
		color: #eaaf40;
		width: 80px;
		height:30px;
		margin-left: 120px;
		padding:10px 6px;
		margin-top: -60px;
		font-weight: bolder;
	}
	#gallery .container .flex-parent .slick-center .flex2	.con .view .tri{
		width: 0;
		height: 0;
		margin-top: -1px;
		margin-left:54px;
		border-bottom: 25px solid transparent;
		border-left: 0px solid transparent;
		border-right: 20px solid transparent;
		border-top: 15px solid #5a3b00;
	}
	#gallery .container .flex-parent .slick-center .flex2 .con .con1{
		color: black;
		font-weight: bolder;
		font-size: 1.2em;
	}
}
@media screen and (max-width: 760px){
	#gallery .container .flex-parent .flex1 .flex2 .con{
		background-color: black;
		height: 80px;
	}
	#gallery .container .flex-parent .flex1 .flex2 .con .con1{
		color: white;
		font-weight: bolder;
		font-size: 0.8em;
		padding: 10px 10px;
	}
	#gallery .container .flex-parent .flex1 .flex2	.con .view{
		background-color: #eaaf40;
		color: black;
		font-size: 0.7em;
		width: 80px;
		height:25px;
		margin-left: 120px;
		padding: 5px 5px;
		margin-top: -60px;
		font-weight: bold;
		position: absolute;
	}
	#gallery .container .flex-parent .flex1 .flex2	.con .view .tri{
		width: 0;
		height: 0;
		margin-top: -3px;
		margin-left:59px;
		border-bottom: 25px solid transparent;
		border-left: 0px solid transparent;
		border-right: 16px solid transparent;
		border-top: 15px solid #bd7b00;
		position: absolute;
	}
	#gallery .container .flex-parent .slick-center .flex2 .con{
		background-color:#eaaf40;
		font-size: 0.6em;
		font-weight: bolder;
		color: black;
		height: 100px;
		padding-top: 5px;
	}
	#gallery .container .flex-parent .slick-center .flex2 .con .view{
		background-color:black;
		font-size: 1.0em;
		color: #eaaf40;
		width: 80px;
		height:30px;
		margin-left: 124px;
		padding:10px 6px;
		margin-top: -60px;
		font-weight: bolder;
	}
	#gallery .container .flex-parent .slick-center .flex2	.con .view .tri{
		width: 0;
		height: 0;
		margin-top: -1px;
		margin-left:54px;
		border-bottom: 25px solid transparent;
		border-left: 0px solid transparent;
		border-right: 20px solid transparent;
		border-top: 15px solid #5a3b00;
	}
	#gallery .container .flex-parent .slick-center .flex2 .con .con1{
		color: black;
		font-weight: bolder;
		font-size: 1.2em;
	}
@media screen and (max-width: 450px){
	#gallery .container .text-center .care{
		font-size: 1.2em;
	}
	#gallery .container .text-center .most{
		font-size: 1.5em;
	}
	#gallery .container .flex-parent .flex1 .flex2 .con{
		background-color: black;
		height: 80px;
	}
	#gallery .container .flex-parent .flex1 .flex2 .con .con1{
		color: white;
		font-weight: bolder;
		font-size: 0.8em;
		padding: 10px 10px;
	}
	#gallery .container .flex-parent .flex1 .flex2	.con .view{
		background-color: #eaaf40;
		color: black;
		font-size: 0.8em;
		width: 98px;
		height:30px;
		margin-left: 200px;
		padding:7px 8px;
		margin-top: -45px;
		font-weight: bolder;
	}
	#gallery .container .flex-parent .flex1 .flex2	.con .view .tri{
		width: 0;
		height: 0;
		margin-top: -2px;
		margin-left:72px;
		border-bottom: 25px solid transparent;
		border-left: 0px solid transparent;
		border-right: 18px solid transparent;
		border-top: 11px solid #bd7b00;
		position: absolute;
	}
	#gallery .container .flex-parent .slick-center .flex2 .con{
		background-color:#eaaf40;
		font-size: 0.75em;
		font-weight: bolder;
		color: black;
		height: 100px;
		padding-top: 5px;
	}
	#gallery .container .flex-parent .slick-center .flex2 .con .view{
		background-color:black;
		font-size: 1.0em;
		color: #eaaf40;
		width: 98px;
		height:30px;
		margin-left: 200px;
		padding:7px 6px;
		margin-top: -45px;
		font-weight: bolder;
	}
	#gallery .container .flex-parent .slick-center .flex2	.con .view .tri{
		width: 0;
		height: 0;
		margin-top: -2px;
		margin-left:74px;
		border-bottom: 25px solid transparent;
		border-left: 0px solid transparent;
		border-right: 18px solid transparent;
		border-top: 15px solid #5a3b00;
	}
	#gallery .container .flex-parent .slick-center .flex2 .con .con1{
		color: black;
		font-weight: bolder;
		font-size: 1.2em;
	}
}
@media screen and (max-width: 320px){
	#gallery .container .text-center .care{
		font-size: 1.2em;
	}
	#gallery .container .text-center .most{
		font-size: 1.5em;
	}
	#gallery .container .flex-parent .flex1 .flex2{
		margin: 50px 30px 0 320px0px;
	}
	#gallery .container .flex-parent .flex1 .flex2 img{
		width: 100%;
	}
	#gallery .container .flex-parent .flex1 .flex2 .con{
		background-color: black;
		height: 80px;
	}
	#gallery .container .flex-parent .flex1 .flex2 .con .con1{
		color: white;
		font-weight: bolder;
		font-size: 0.8em;
		padding: 10px 10px;
	}
	#gallery .container .flex-parent .flex1 .flex2	.con .view{
		background-color: #eaaf40;
		color: black;
		font-size: 0.55em;
		width: 60px;
		height:20px;
		margin-left: 105px;
		padding:6px 2px;
		margin-top: -50px;
		font-weight: bolder;
	}
	#gallery .container .flex-parent .flex1 .flex2	.con .view .tri{
		width: 0;
		height: 0;
		margin-top: -6px;
		margin-left:43px;
		border-bottom: 25px solid transparent;
		border-left: 0px solid transparent;
		border-right: 15px solid transparent;
		border-top: 11px solid #bd7b00;
		position: absolute;
	}
	#gallery .container .flex-parent .slick-center .flex2 .con{
		background-color:#eaaf40;
		font-size: 0.75em;
		font-weight: bolder;
		color: black;
		height: 100px;
		padding-top: 5px;
	}
	#gallery .container .flex-parent .slick-center .flex2 .con .view{
		background-color:black;
		font-size: 0.75em;
		color: #eaaf40;
		width: 75px;
		height:25px;
		margin-left: 90px;
		padding:7px 6px;
		margin-top: -30px;
		font-weight: bolder;
	}
	#gallery .container .flex-parent .slick-center .flex2	.con .view .tri{
		width: 0;
		height: 0;
		margin-top: -3px;
		margin-left:54px;
		border-bottom: 25px solid transparent;
		border-left: 0px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid #5a3b00;
	}
	#gallery .container .flex-parent .slick-center .flex2 .con .con1{
		color: black;
		font-weight: bolder;
		font-size: 0.9em;
	}
}