/*.footer{
	background-color: #2c2c2c;
	color: #fff;
	font-family: "Gill Sans MT";
	position: absolute;
	z-index: 1;
	height: 100%;
}
.footer .flex-container{
	display: flex;
	height: 68vh;
}
.footer .flex-container .col-md-4{
	flex: 1;
}
.footer .flex-container .col-md-4:first-child{
	margin: 30px 0;
}
.footer .flex-container .col-md-4:last-child{
	margin: 60px 0;
}
.footer .flex-container .col-md-4:nth-child(2){	
	background-color: #29261b;
	position: relative;
	top: -70px;
	z-index: 2;
	width: 100%;
	height: 100%;
}
.footer .flex-container .col-md-4:nth-child(2){
	padding: 0 35px 20px;
}
.footer .flex-container .col-md-4:first-child .message .inner-flex{
	display: flex;
}
.footer .flex-container .col-md-4:first-child .message form .inner-flex .flex-input{
	flex: 1;
}
.footer .flex-container .col-md-4:first-child .message form .inner-flex .col-md-6:first-child{
	margin-right: 10px;
}
.footer .flex-container .col-md-4:first-child .message form .inner-flex .col-md-6:last-child .form-group textarea{
	border-radius: 6px 6px 6px 6px / 18px 18px 18px 18px;
}
.footer .flex-container .col-md-4:first-child .message form .text-right input{
	font-weight: bold;
	background-color: #eaaf40;
	border: none;
	padding: 10px 50px;
}
.footer .flex-container .col-md-4:nth-child(2) .contact .contact-flex{
	display: flex;
    margin: 0 30px 18px;
}
.footer .flex-container .col-md-4:nth-child(2) .contact .contact-flex .col-md-6{
	flex: 1;
}
.footer .flex-container .col-md-4:nth-child(2) .contact .contact-flex .col-md-6:first-child{
	flex-basis: 30%;
}
.footer .flex-container .col-md-4:nth-child(2) .contact .contact-flex .contact-inner .head{
    font-weight: bold;	
}
.footer .flex-container .col-md-4:nth-child(2) .contact .contact-flex .col-md-6 p{
	margin: 0;
}
.footer .flex-container .col-md-4:nth-child(2) .contact .contact-flex .col-md-6:nth-child(2) .indent{
	text-indent: 18px;
}
.footer .flex-container .col-md-4:nth-child(2) .text-center .fa-vimeo{
	background-color: #02b7de;
    padding: 6px;
    border-radius: 18px;
    font-size: 18px;
}
.footer .flex-container .col-md-4:nth-child(2) .text-center{
	margin-bottom: 30px;
}
.footer .flex-container .col-md-4:nth-child(2) .text-center .fa-pinterest-p{
	background-color: #e62b34;
    padding: 6px 9px;
    border-radius: 18px;
    font-size: 18px;
}
.footer .flex-container .col-md-4:nth-child(2) .text-center .fa-instagram{
	background-color: #874c2d;
    padding: 6px 8px;
    border-radius: 18px;
    font-size: 18px;
}
.footer .flex-container .col-md-4:nth-child(2) .text-center .fa-facebook{
	background-color: #6081c4;
    padding: 6px 10px;
    border-radius: 18px;
    font-size: 18px;
}
.footer .flex-container .col-md-4:nth-child(2) .text-center .fa-twitter{
	background-color: #44bced;
    padding: 6px 7px;
    border-radius: 18px;
    font-size: 18px;
}
.footer .flex-container .col-md-4:nth-child(2) .text-center .fa-linkedin{
	background-color: #2897cf;
    padding: 6px 8px;
    border-radius: 18px;
    font-size: 18px;
}
.footer .flex-container .col-md-4:nth-child(2) .text-center .fa-google-plus{
	background-color: #e82a34;
    padding: 7px 5px;
    border-radius: 18px;
    font-size: 15px;
}
.footer .flex-container .col-md-4:nth-child(2) .text-center .fa-skype{
	background-color: #35c4f1;
    padding: 6px 8px;
    border-radius: 18px;
    font-size: 16px;
}*/